@import 'default';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,700&family=Roboto+Slab:wght@400;600&display=swap');

:root {
  --color-text: #191924;
  --color-background: #f3f4f6;
  --color-icon: #3b82f6;
  --color-border: none;
  --color-dot-border: #fff solid;
  --color-bg-blocks: #fff;
  --color-inside-border: rgb(59, 130, 246, 0.7) solid;
}

:root[data-color-scheme='dark'] {
  --color-text: #aea8b2;
  --color-icon: #aea8b2;
  --color-background: #28333f;
  --color-border: rgb(123, 97, 255, 0.5) solid;
  --color-dot-border: rgb(123, 97, 255, 0.5) solid;
  --color-bg-blocks: #2f3c50;
  --color-inside-border: rgb(123, 97, 255, 0.5) solid;
}

.wrapper {
  @include flex-column;
  min-height: 100%;
  overflow: hidden;
  background-color: var(--color-background);
  transition: background-color 200ms linear;
  @media (max-width: 760px) {
    height: 100vh;
  }
}

._container {
  margin: 0 4% 0 4%;
  width: 92%;
}
._icon {
  color: var(--color-icon);
  transition: color 400ms linear;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2% 0 0 0;
  .navbar__logo {
    @include adaptive-font(55, 25);
    font-family: 'Open Sans', sans-serif;
    color: var(--color-text);
    transition: color 400ms linear;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    @media (max-width: 760px) {
      width: 50%;
    }
    @media (max-width: 320px) {
      width: 60%;
    }
    .menu__lang {
      cursor: pointer;
      font-family: 'Roboto Slab', serif;
      font-weight: 600;
      color: var(--color-text);
      transition: color 400ms linear;
      @include adaptive-font(25, 16);
      @media (min-width: 2200px) {
        @include adaptive-font(30, 20);
      }
    }

    ._favorite:hover {
      color: rgb(255, 38, 164);
      transition: color 100ms linear;
    }
  }
}
.body {
  padding: 4% 0;
  @media (max-width: 760px) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
  }
  @media (max-width: 320px) {
    padding: 8% 0;
  }
  ._icon {
    position: relative;
    z-index: 2;
  }
  .info-block {
    @media (min-width: 761px) {
      @include adaptive-heigth(190, 100);
      width: 22%;
      background: var(--color-bg-blocks);
      box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16),
        0px 0px 1px rgba(9, 30, 66, 0.31);
      border: var(--color-border);
      border-radius: 0.5vw;
    }
  }
  ._slide {
    @media (max-width: 761px) {
      width: 100%;
      flex: 1 0 100%;
      height: 90%;
      margin-right: 20%;
      position: relative;
      border: var(--color-border);
      border-radius: 0.5vw;
      background: var(--color-bg-blocks);
      color: white;
      box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16),
        0px 0px 1px rgba(9, 30, 66, 0.31);
      .block-content {
        height: 100%;
        display: flex;
        font-family: 'Roboto Slab', serif;
        font-weight: 600;
        color: var(--color-text);
        transition: color 400ms linear;
        @include adaptive-font(25, 16);
        .block-content__left-top,
        .block-content__top-top,
        .block-content__bottom-top {
          @include adaptive-font(23, 13);
          display: flex;
          justify-content: center;
          align-items: end;
          margin-bottom: 5%;
          height: 50%;
          width: 100%;
        }
        .block-content__left-bottom,
        .block-content__top-bottom,
        .block-content__bottom-bottom {
          margin-top: 5%;
          display: flex;
          justify-content: center;
          align-items: start;
          height: 50%;
          width: 100%;
        }
        .block-content__left {
          width: 30%;
        }
        .block-content__right {
          width: 70%;
          display: flex;
          border-left: var(--color-inside-border);
          flex-direction: column;
          .block-content__top {
            height: 50%;
            border-bottom: var(--color-inside-border);

            .block-content__top-top {
              margin-bottom: 1%;
            }
            .block-content__top-bottom {
              margin-top: 1%;
            }
          }
          .block-content__bottom {
            height: 50%;
            .block-content__bottom-top {
              margin-bottom: 1%;
            }
            .block-content__bottom-bottom {
              margin-top: 1%;
            }
          }
        }
      }
    }
  }
  ._arrows {
    @media (min-width: 761px) {
      visibility: hidden;
    }
  }
  .slider-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .slider {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      height: 90%;

      .slider-list {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%;
        width: 80%;
        margin: 0 2%;

        @media (min-width: 761px) {
          display: none;
        }
      }
    }
    .dots {
      height: 10%;
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      @media (min-width: 761px) {
        visibility: hidden;
      }
      @media (max-width: 450px) {
        width: 80%;
      }

      .dot {
        width: 15%;
        height: 0px;
        border: 3px var(--color-dot-border);
        border-radius: 3px;
        box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16),
          0px 0px 1px rgba(9, 30, 66, 0.31);
      }
      .selected {
        border: 3px solid var(--color-icon);
      }
    }
  }

  .info-blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
    margin: 0 2%;
    @media (max-width: 760px) {
      display: none;
    }
    .info-block {
      @include adaptive-heigth(190, 100);
      width: 22%;
      background: var(--color-bg-blocks);
      box-shadow: 0px 3px 8px rgba(9, 30, 66, 0.16),
        0px 0px 1px rgba(9, 30, 66, 0.31);
      border: var(--color-border);
      border-radius: 0.5vw;
    }
  }
}
